* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: rgb(248, 237, 235);
    color: #5C3E32;
    text-align: center;
    background-image: url(images/background_home.png);
}

h1 {
    font-size: 1.5em;
}

.blauw_tekstvak {
    background-color: #BFD8EB;
    padding: 7%;
    border-radius: 70px;
    margin: 8%;
}

.roze_tekstvak {
    background-color: #F2A490;
    padding: 7%;
    border-radius: 70px;
    margin: 8%;
}

.beer_pot {
    position: relative;
    margin-bottom: -15%;
}

.beer_mok {
    position: relative;
    margin-bottom: -17%
}

header img {
    width: 90%;
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
}

section img {
    width: 90%;
}

/* tutorial slider */

.container {
    background-color: #BFD8EB;
    padding: 7%;
    border-radius: 70px;
    margin: 8%;
}

div p {
    padding: 4%;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 50px;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
}

/* footer */

.footer_beer {
    max-width: 100%;
    display: inline-block;
    position: absolute;
    display: flex;
}

footer {
    background-image: url(images/footer.png);
    background-position: center;
    padding: 30px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-top: 10%;
    list-style: none;
    padding-left: 0%;
}



